
/* Header CSS start */
.navbar {
    --mdb-navbar-box-shadow: 0 4px 12px 0 RGBA(0,84,254,0.1),0 2px 4px rgba(0,0,0,0.05);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.custom-name-color{
      color: #232323;
    }
.custom-paragraph-color{
      color: #666666;
    }
.custom-number-color{
      color: #06CB75;
    }

    .f10{
      font-size: 10px;
    }
    .f9{
      font-size: 9px;
    }
    .f11{
      font-size: 11px;
    }
    .f10-5{
      font-size: 10.5px;
    }
    .f11-5{
      font-size: 11.5px;
    }
  .bgw-br15{
    background-color: white;
    border-radius: 10px;
  }

  .table td, .table th  {
    vertical-align: middle;
  }

/* Header CSS end */
@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 150px;
    z-index: 600;
    background-color: #8F00FF;
  }
  .sidebar .active {
    color: #D5D739;
  }
  .background-color-nav{
    background-color: #8F00FF;
  }
  .link-text-color-nav{
    color: #ffffff;
  }
  .link-text-color-nav:hover{
    color: #D5D739;
  }

  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
      
    }
  }
  .sidebar .active {
    border-radius: 0px;
    box-shadow: none;
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #8F00FF;
  }

  .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: #eeeeee1a;
    color: white;
  }
  main {
    background: rgb(239 239 239);
  }
  .overview-text{
    margin-left: -3%;
    
  }
  .home-main-section{
    width: 100%;
  }
  .home-main-section .home-first-sectio-row{
    margin-left: -5%;
    margin-top: 2%;
    overflow: hidden;
  }
  .home-main-section-img{
    width: 125%;
  }
  .home-main-section .home-first-sectio-row{
    display: flex;
    align-items: center;
  }

  .home-first-section-second-row{
    margin-top: 6%;
    margin-left: -5%;
    background: #ffffff42;
    border-radius: 10px;
  }

  .client_list_link{
    margin-top: 2%;
  }
  .client_list_link{
    height: 20px;
    width: 20px;
  }

  
  .home-first-section div.custom-name-color{
    font-size: 20px;
  }
  .home-first-section p.custom-paragraph-color{
    font-size: 12px;
  }

  .middle-element-first{
    background-image: linear-gradient(#FE8E25, #FFD461);
    border-radius: 10px;
  }
  .middle-element-second{
    background-image: linear-gradient(#B585FD, #7B46CB);
    border-radius: 10px;
  }
  .middle-element-third{
    background-image: linear-gradient(RGBA(21,76,180,0.84 ), #72E5D3);
    border-radius: 10px;
  }

  .home-right-section{
    background: white;
    width: 90%;
    border-radius: 10px;
    margin-top: 3%;
    height: 70vh;
    overflow-y: auto;

  }
  
  .table-thead-color{
    background:#EAF2FF;
  }
  .table-tr-border {
    border-bottom:1pt solid #EAF2FF;
  }

  .home-right-section-second-row{
    margin-top: 6%;
    background: #ffffff42;
    border-radius: 10px;
  }
  .right-section-button {
    background-color: #A564FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.right-section-button:hover {
    background-color: #4e465f; 
}
.row.align-items-center {
  display: flex;
  align-items: center;
}

.solid-1px-border {
  border-bottom:1px solid #BCBCBC;
}


/*------------------------- End Home --------------------------------- */


/*------------------------- Start Employee List --------------------------------- */
.employee-middle-section{
  background: white;
  margin-left: -3%;
  border-radius: 10px;
  margin-top: 3%;
  height: 80vh;
  overflow-y: auto;
}
.search-section {
  background-color: #ffffffeb;
  color:  #BCBCBC;
  padding: 12px 18px;
  border: 1px solid #BCBCBC;
  border-radius: 40px;
  width: 75%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.select-section {
  background-color: #ffffff00;
  color:  #BCBCBC;
  padding: 6px 8px;
  border: 1px solid #BCBCBC;
  border-radius: 40px;
  width: 120%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}
.request-button {
  background-color: #8F00FF;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 40px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}
.request-button-disable {
  background-color: #E4E4E4;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 40px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}

/*------------------------- End Employee List --------------------------------- */


/*------------------------- Start Client List --------------------------------- */

.client-card-custom .section-1-img{
  width: 106%;
}
.client-card-custom .section-2-icon{
  width: 13%;
}
.client-middle-section{
  background: rgba(255, 255, 255, 0.557);
  margin-left: -3%;
  border-radius: 10px;
  margin-top: 3%;
  height: 80vh;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.client-compare-window{
  background-image: linear-gradient(#B585FD, #7B46CB);
  width: 30%;
  border-radius: 10px;
}
.row.mt-4.bgw-br15.client-card-custom{
  margin-right: 0;
}

.client-right-card-custom .right-section-1-img{
  width: 90%;
  border-radius: 50%;
}
.client-right-card-custom .section-2-icon{
  width: 13%;
}

.client-right-section-div .client-link-text{
  background: #F1F1F5;
  border-radius: 5px;

}

.client-drop-drag-section{
  height: 25%;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("../assets/image/shape/Combined Shape.png" );

}

.client-drop-drag-section .drag-text{
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 13px;
  width: 60%;
 margin:auto;
 margin-top: 13%;
  
}

.client-right-buttom-btn button {
  background-color: #C2A8EA;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

/*------------------------- End Client List --------------------------------- */


/*------------------------- Start Distance Finder --------------------------------- */

#distance-finder-bg-image{
  background-image: url(../assets/image/Highway-leading-to-t.png);
  
}

.distance-finder-middle-section{
  background-color: #0000009a;
  color:  white;
  border-radius: 15px;
  width: 84%;
  display: inline-block;
  font-size: 13px;
}




.distance-finder-drop-drag-section{
  height: 150%;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("../assets/image/shape/Combined Shape.png" );
}

.distance-finder-drop-drag-section .drag-text{
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 13px;
  width: 60%;
 margin:auto;
 margin-top: 13%;
  
}
.distance-finder-drop-drag-section .plus-text{
  background-color: #8F00FF;
  font-size: 17px;
  width: 13%;
  height: 35%;
  color: white;
 margin:auto;
 margin-top: 13%;
  
}

.distance-finder-btn button{
  background-color: #A564FF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
  width: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-left: -4%;
  margin-top: 4%;
}
/*------------------------- End Distance Finder --------------------------------- */




